<div class="container">
  <legend>Create Item</legend>
  <form>
    <!-- <div class="mb-3">
      <label for="txtName" class="form-label">Name</label>
      <input type="text" name="name" [(ngModel)] = "supplierForm.name" class="form-control" id="txtName" />
    </div> -->
    <div class="mb-3">
      <label for="txtFirstName" class="form-label">FirstName</label>
      <input type="text" name="FirstName" [(ngModel)] = "supplierForm.FirstName" class="form-control" id="txtFirstName" />
    </div>
    <div class="mb-3">
      <label for="txtLastName" class="form-label">LastName</label>
      <input type="text" name="LastName" [(ngModel)] = "supplierForm.LastName" class="form-control" id="txtLastName" />
    </div>
    <button type="button" (click)="create()" class="btn btn-primary">Create</button>
  </form>
</div>
