<p>home works!</p>


<div class="container" *ngIf="!isfetching">
  <div class="row mt-2">
    <div class="col col-md-4 offset-md-4">
      <a class="btn btn-primary" routerLink="/supplier/create">Create</a>
    </div>
  </div>
  <table class="table" >
    <tr class="justify-content-around">
      <th class="col-md-4">Id</th>
      <th class="col-md-4">FirstName</th>
      <th class="col-md-4">LastName</th>
    </tr>
    <!-- | paginate : {itemsPerPage: 10, currentPage: p} ; -->
    <tbody  *ngFor="let item of data; let i = index "  >
      <tr>
        <th >{{ item.id }}</th>
        <th>{{ item.firstName }}</th>
        <th>{{ item.lastName }}</th>
        <span class="d-inline-flex">
          <a class="btn btn-primary" [routerLink]="['/supplier/edit', item.id]">Edit</a>
          <button class="btn btn-danger" (click)="Delete(item.id)">
            delete
          </button>
        </span>
      </tr>
    </tbody>
  </table>
  <div class="d-inline-flex justify-content-center w-100">
    <!-- <ul class="pagination">
      <li class="page-item" >
        <a class="page-link">
          {{ i }}
          1
        </a>
      </li>
    </ul> -->
    <button class="btn btn-info m-2" (click)="IncreasePage($event)">
        بعدی
    </button>

    <button class="btn btn-info m-2" (click)="DecreasePage($event)">
      قبلی
    </button>
    <!-- <pagination-controls class="pagi" (pageChange)="TestFn($event)" nextLabel="قبلی" previousLabel="بعدی" aria-disabled="false">

    </pagination-controls> -->
    <!-- <pagination-controls (pageChange)="p = $event" class="float-right" nextLabel="قبلی" previousLabel="بعدی"></pagination-controls> -->
  </div>
  <!-- <input type="text" #localRefrence>
  <button (click)="buttonCLcik()" class="btn"></button> -->
</div>
<div *ngIf="isfetching && !error">
  <div class="alert alert-info">Data Is Fetching ....</div>
</div>
<div *ngIf="error">
  <div class="alert alert-danger">
    <h1>Error Has Eccoured</h1>
    <p>{{error}} </p>
  </div>
</div>
<!-- <p appBasicHighlight>
  Lorem ipsum dolor,
   sit amet consectetur adipisicing elit. Ad magnam architecto harum tempora
    aut doloremque officia consequatur neque! Perspiciatis,
    hic. Eius dolores dolor iure deserunt consectetur in ea velit sapiente.

</p> -->
<!-- <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
   Blanditiis ratione animi recusandae, incidunt mollitia possimus non. Exercitationem accusamus,
  facere dignissimos nihil quibusdam inventore vitae numquam blanditiis optio sint hic quos?
</p> -->
